@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

.card, .table {
    color: $gray-600;
}

label {
    font-weight: normal;
    white-space: nowrap;
    display: flex;
    align-items: center;
    max-width: 200px;
}

.card-header-bg {
    background-color: $blue;
}

.card-header {
    color: $gray-100;
}

label p, div.v-select {
    margin-right: 10px;
}

label p {
    margin-bottom: 0;
}

.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.create_button_container {
    text-align: end;
}

@include media-breakpoint-down(md) {
    .extra-margin {
        margin-bottom: 10px;
    }
}