@import '~bootstrap/scss/bootstrap';
@import '../../../../../styles/variables';

.dropdown {
    position: static;
    .dropdown-menu {
        font-size: 0.85rem;
        width: calc(100% - #{$grid-gutter-width});
        right: calc($grid-gutter-width / 2);
        .dropdown-header {
            @extend .text-uppercase;
            font-weight: 800;
            font-size: 0.65rem;
            width: 100%;
            right: calc($grid-gutter-width / 2);
            background-color: $primary;
            border: 1px solid $primary;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            color: $white;
        }
    }
}
.dropdown-list {
    padding: 0 !important;
    border: none !important;
    overflow: hidden;
}

  // Utility class to hide arrow from dropdown
  
.dropdown.no-arrow {
    .dropdown-toggle::after {
        display: none;
    }
}
  
@include media-breakpoint-up(sm) {
    .dropdown {
        position: relative;
        .dropdown-menu {
            width: auto;
            right: 0;
        }
    }
    .dropdown-list {
        width: 20rem !important;
    }
}
