.dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(v-bind:aria-labelledby='dropdown_link_id')
    h6.dropdown-header
        | {{ header }}
    dynamic-component(
        v-for='dropdownItemSection in dropdown_item_sections'
        v-bind:component_infos='dropdownItemSection'
    )
    a.dropdown-item.text-center.small.text-gray-500(v-if='this.footer_link' v-bind:href='this.footer_link.url') {{ footer_link.content }}
