form.form-inline.mr-auto.w-100.navbar-search
    .input-group
        input.form-control.bg-light.border-0.small(
            type='text' 
            v-bind:placeholder='placeholder' 
            aria-label='Search' 
            aria-describedby='basic-addon2'
        )
        .input-group-append
            button.btn.btn-primary(type='button')
                i.fas.fa-search.fa-sm