nav.navbar.navbar-expand.navbar-light.bg-gradient.topbar.mb-4.static-top
    // Sidebar Toggle (Topbar)
    button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
        i.fa.fa-bars
    // Topbar Search
    dynamic-component(
        v-for='leftItemSection in left_item_sections'
        v-bind:component_infos='leftItemSection'
    )
    // Topbar Navbar
    ul.navbar-nav.ml-auto
        dynamic-component(
            v-for='navigationLinkSection in navigation_link_sections'
            v-bind:component_infos='navigationLinkSection'
        )
