@import '../../../../bootstrap/scss/bootstrap';

.sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-sm;
    border-radius: $border-radius;
    color: fade-out($white, 0.2);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: fade-out($white, 0.9);

    .sidebar-card-illustration {
        height: 3rem;
        display: block;
    }
    .sidebar-card-title {
        font-weight: bold;
    }
    p {
        font-size: 0.75rem;
        color: fade-out($white, 0.5);
    }
}
