@import '../../styles/variables';
@import '../NavigationLink/Style.scss';
@import '../../styles/utilities';

.nav-item {
    .nav-link {
        // Accordion
        &[data-toggle="collapse"]::after {
            color: fade-out($white, 0.5);
        }
    }

    .collapse {
        position: absolute;
        left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
        z-index: 1;
        top: 2px;
        // Grow In Animation
        @extend .animated--grow-in;

        .collapse-inner {
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }
    }

    .collapsing {
        display: none;
        transition: none;
    }

    .collapse,
    .collapsing {
        .collapse-inner {
            padding: .5rem 0;
            min-width: 10rem;
            font-size: $dropdown-font-size;
            margin: 0 0 1rem 0;

            .collapse-header {
                margin: 0;
                white-space: nowrap;
                padding: .5rem 1.5rem;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 0.65rem;
                color: $gray-500;
            }

            .collapse-item {
                padding: 0.5rem 1rem;
                margin: 0 0.5rem;
                display: block;
                color: $gray-900;
                text-decoration: none;
                border-radius: $border-radius;
                white-space: nowrap;

                &:hover {
                    background-color: $white;
                }

                &:active {
                    background-color: $white;
                }

                &.active {
                    color: $primary;
                    font-weight: 700;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .nav-item {
        // Accordion
        .collapse {
            position: relative;
            left: 0;
            z-index: 1;
            top: 0;
            animation: none;

            .collapse-inner {
                border-radius: 0;
                box-shadow: none;
            }
        }

        .collapsing {
            display: block;
            transition: $transition-collapse;
        }

        .collapse,
        .collapsing {
            margin: 0 1rem;
        }

        .nav-link {
            &[data-toggle="collapse"] {
                &::after {
                    width: 1rem;
                    text-align: center;
                    float: right;
                    vertical-align: 0;
                    border: 0;
                    font-weight: 900;
                    content: '\f107';
                    font-family: 'Font Awesome 5 Free';
                }

                &.collapsed::after {
                    content: '\f105';
                }
            }
        }
        
        &.toggled {
            // Accordion
            .collapse {
                position: absolute;
                left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
                z-index: 1;
                top: 2px;
                // Grow In Animation for Toggled State
                animation-name: growIn;
                animation-duration: 200ms;
                animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);

                .collapse-inner {
                    box-shadow: $box-shadow;
                    border-radius: $border-radius;
                }
            }

            .collapsing {
                display: none;
                transition: none;
            }

            .collapse,
            .collapsing {
                margin: 0;
            }
        }
    }
}