.container
    .row.justify-content-center
        .col-xl-12.col-lg-12
            dynamic-component(
                v-for='content_section in content_sections'
                v-bind:component_infos='content_section'
            )
