@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';
@import '../../styles/utilities';

.sidebar-heading {
    margin-top: 1rem;
    text-align: left;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 1rem;
    @extend .text-uppercase;
    color: fade-out($white, 0.6);
}

@include media-breakpoint-down(md) {
    .sidebar-heading {
        text-align: left;
        &.toggled {
            text-align: center;
        }
    }
}

.main {
    display: contents;
}