div
    .sidebar-heading
        | {{ title }}
    dynamic-component(
        v-for='navigation_link_section in navigationLinkSections'
        v-bind:key='navigation_link_section.id'
        v-bind:component_infos='navigation_link_section'
    )
