a.dropdown-item.d-flex.align-items-center(v-bind:href='url')
    .mr-3
        .icon-circle.bg-primary
            i(v-bind:class='icon_class')
    div
        .small.text-gray-500 {{ sub_content }}
        | {{ content }}