div.wrapper
    dynamic-component(
        v-bind:component_infos='sidebar_section'
    )
    div.content-wrapper.d-flex.flex-column
        .content
            dynamic-component(
                v-bind:component_infos='navigation_bar_section'
            )
            dynamic-component(
                v-bind:component_infos='content_section'
            )
