@import '~bootstrap/scss/bootstrap';
@import '../../../../styles/variables';

.nav-link {
    position: relative;
    height: $topbar-base-height;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

.nav-link:hover {
    color: #b7b9cc !important;
}

.nav-link:active {
    color: #858796 !important;
}

.nav-item {
    &:focus {
        outline: none;
    }
}

.img-profile {
    height: 2rem;
    width: 2rem;
}